.c-form {
  &__inner {
    label, input, select, textarea {
      display: block;
    }
    label {
      font-weight: bold;
    }
  }
  &__error {
    input, textarea, :focus {
      border: 0.5px solid #FF0000;
      outline: solid 0.5px #FF0000;
    }
  }
}
