.c-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #AAA;
  border-radius: 5px;
  outline: 1px solid #AAA;
}

.c-btn-login {
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 31px;
  background-color: #1B224C;
  border: 0.5px solid #1B224C;
  color: #FFF;
}
