.p-password-reset-pre {
  padding: 128px 0;
  &__inner {
    width: 700px;
    margin: 0 auto;
    @include mq(sp){
      width: 100%;
      padding: 0 16px;
    }
    &__form {
      &__inner {
        label {
          padding: 42px 0 14px 0;
          &:first-child {
            padding: 0 0 14px 0;
          }
        }
        &__btn-area {
          margin-top: 84px;
          &-btn-password-reset-pre {
            text-align: center;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
