.u-error {
  color: #630015!important;
  border-color: #FF0000!important;
  background-color: #ffd9e1!important;
  outline: solid 0.5px #FF0000!important;
}

.u-info {
  color: #5b8ceb!important;
  border-color: #5b8ceb!important;
  background-color: #def0ff!important;
  outline: solid 0.5px #def0ff!important;
}
